@tailwind base;
@tailwind components;
@tailwind utilities;


.carousel-item {

    width: 100%;
    border: 0px solid black;
    > div {
      position: unset !important;
    }
  
    .image {
      object-fit: contain;
      width: 100% !important;
      position: relative !important;
      height: unset !important;
      border-radius: 8px;
    }
}

.horizontal_scrollable_product_container{
    -ms-overflow-style: none; /* IE */
    overflow: -moz-scrollbars-none; /* Firefox */
}

.horizontal_scrollable_product_container::-webkit-scrollbar{
    display: none;
}